* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}


body{
    height: 100%;
}

/* Header */

header{
    color: white;
    background-color: green;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.left{
    padding: 10px 20px;
    text-align: left;
}
.center{
    padding: 10px 20px;
    text-align: center;
}
.right{
    padding: 10px 20px;
    text-align: right;
}
.manu-btn{
    color: #424144;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    background-color: beige;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
}

.navbar .logo h1{
    color: hsl(143, 93%, 16%);
}

/*Menu*/

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: flex;
    margin-left: 20px;
    color: #37363a;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.4s ease;
}
.navbar .menu li a:hover{
    color: #888;
}

.navbar .menu .category{
    list-style: none;
    display: inline-block;
}

.navbar .menu .category a{
    display: flex;
    margin-left: 20px;
    color: #37363a;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.navbar .menu .category span{
    padding: 1px 5px;
}
.navbar .menu .category a:hover{
    border-bottom: 4px solid #381bbb;
}

/*search*/
 
.navbar .search {
    position: relative;
    display: inline-block;
}

.navbar .search input[type="text"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 250px;
    transition: width 0.3 ease;
}
.navbar .search input[type="text"]:hover,.navbar .search input[type="text"]:focus{
    width: 400px;
}


.navbar .search button[type="submit"]{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}
.navbar .search button[type="submit"] i {
    font-size: 16px;
    color: #888;
}

/* Btn Account*/
.navbar .btn li{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
} 
.navbar .btn li a{
    display: flex;
    color: #37363a;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.4s ease;
}
.navbar .btn li a:hover{
    color: #888;
}

.content{
    background-color: rgb(255, 228, 228);
    background-image: url(1.jpg);
    background-size: 200vh 95vh;
    background-repeat: no-repeat;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(12, 73, 12);
    height: 95vh;
    font-size: 32px;
    line-height: 1.5;
}
.content .desc{
    padding: 35px 0;
    line-height: 1.5;
    font-size: 20px;
}

.content button{
    padding: 20px 60px;
    border: none;
    background:rgb(12, 73, 12);
    cursor: pointer;
    color: white;
    border-radius: 40px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.4s ease;
}
.content button:hover{
    background-color: white;
    color: rgb(12, 73, 12);
}

.pheading {
    margin: 50px 0;
}

/* Product*/
.sec{
    padding: 10px 5%;
}

.category{
    display: grid;
    grid-template-columns: repeat(auto-fit);
}

.category .card{
    width: 200px;
    background-color: #424144;
    border-radius: 10px;
    margin-bottom: 20px;
}

.category .card .desc{
    position:absolute;
    padding: 20px 50px;
    font-size: 23px;
    font-weight: bold;
    color: white;
}
.category .card img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
  
}
.category .card  img:hover{
    -webkit-transform: scale(1.25) ;
    transform: scale(1.25);
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,auto));
}

.products .card{
    position: relative;
    width: 260px;
    background-color: #f5f5f5;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.3); */
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    transition: all 0.4s;
}
.products .card:hover{
    transform: scale(0.9);
}

.products .card img{
    height: 250px;
    width: 100%;
}


.products .card .heart-icon{
    position: absolute;
    top: 13px;
    right: 13px;
    background-color: #f0eded;
    padding: 10px 10px;
    border-radius: 100px;
}

.products .card .heart-icon:hover{
    color: red;
}

.products .card .ratting {
    padding: 10px 20px;
    color: #ff8c00;
}


.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.products .card .box .title {
    font-weight: 600;
    font-size: 20px;
    color: #424144;
    padding: 5px 20px;
}
.products .card .box .price{
    font-size: 20px;
    font-weight: bold;
    padding: 10px ;
}

.products .card .box .price-span{
    font-size: 13px;
    position: relative;
    top: -5px;
}
.products .card .desc{
    font-size: 12px;
    padding: 0px 20px;
    opacity: 0.8;
}


.products .card .icon{
    padding: 5px 15px;
}

.products .card .icon .btn{
    padding: 0%;
    font-size: 13px;
    color: black;
    padding: 10px 18px;
    border: 1px ;
    border-radius: 20px;
    transition: all 0.4s ease;
}
.products .card .btn:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

.service{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.service .card{
    width: 350px;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.4s ease;
}
.service .card:hover{
    transform: scale(0.9);
}

.service .card img{
    padding: 30px 0 0 0;
    height: 250px;
    width: 100%;
}

.service .card .title{
    font-size: 23px;
    font-weight: bold;
    padding: 50px 70px 20px 30px;
}
.service .card .desc{
    font-size: 15px;
    padding: 5px 70px 20px 30px;
}

/*contact*/

.contact{
    padding:25px 30px;
    background-color: #f3f4f6;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
}
.first-info h1{
    font-size: 32px;
    color: hsl(143, 93%, 16%);
}
.first-info p{
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.contact-info h4{
    color: #424144;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #565656;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.4s;
}
.contact-info p:hover{
    color: #ee1c47;
}

.social-icon i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all 0.4s;
}
.social-icon i:hover{
    transform: scale(1.3);
}


/*footer*/
footer{
    background-color: #edfff1;
    text-align: center;
    padding: 20px;
    height: 10vh;
    font-size: 12px;
}

footer p {
    color: #111;
    text-transform: capitalize;
    font-weight: bold;
}



